.genre-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.genre-card {
    cursor: pointer;
    margin: 1rem;
    padding: 2rem;
    border-radius: 5px;
    background-image: var(--gradient1);
    background-size: 400%;
}

/*  
    Alright, this is gonna look weird, but I want to have a few gradients I cycle through on this page.
    these nth-child selectors cycle through the gradients on every 4 cards.
*/
.genre-card:nth-child(4n + 1) {
    background-image: var(--gradient2);
}

.genre-card:nth-child(4n + 2) {
    background-image: var(--gradient3);
}

.genre-card:nth-child(4n + 3) {
    background-image: var(--gradient4);
}

.genre-card:hover {
    animation: gradient-shift 1s forwards;
    transform: scale(105%);
}

@keyframes gradient-shift {
    from {
        background-position: left;
    }
    to {
        background-position: right;
    }
}