.movie-card {
    cursor: pointer;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--container-background-color);
    border-radius: 5px;
}

.movie-card:hover {
    background-color: var(--container-background-color-highlight);
}