.header {
    padding-top: .5rem;
}

.site-nav {
    background-color: var(--container-background-color-highlight);
    display: flex;
}

.site-link {
    margin: .5rem 1rem;
    background-color: red;
}